html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans','helvetica',arial,sans-serif;
  font-weight: 300;
  color: #62686f;
  background-image: url(http://uploads.striking.ly/page/images/backgrounds/bg5.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
h1, h2, h3, h4, h5, h6 {
  color: #333;
  font-weight: 300;
}
.container {
  width: 960px;
  margin: 0 auto;
}
.main-header {
  margin-top: 100px;
  padding: 1px;
  background-image: url(../img/banner.jpg);
  text-align: center;
}
.main-header h1 {
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: 300;
  font-size: 50px;
  font-family: 'Open Sans','helvetica',arial,sans-serif;
  text-shadow: 0 1px rgba(0,0,0,0.3);
}
.main-header__avatar {
  display: block;
  margin: 0 auto;
  margin-top: -70px;
  border: 3px solid white;
  border-radius: 999px;
  box-shadow: 0 0px 2px 1px rgba(0,0,0,0.2);
}
.main-nav {
  background-color: #333;
}

.main-nav ul {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav ul li {
  margin: 15px 10px;
  display: inline-block;
}

.main-nav ul li a {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
}

.main-nav ul li a:hover {
  text-decoration: underline;
}

.info-section {
  background-color: #fff;
  padding: 1px 50px;
  overflow: hidden;
}

.info-section h2:after {
  content: "";
  display: table;
  width: 80px;
  margin: 16px auto;
  border-bottom: 3px solid black;
}


.clearfix:after {
  content:"";
  display:table;
  clear:both;
}

ul.whatido__skill-list li {
  text-align: center;
  padding-top: 100px;
  float: left;
  width: 33.3%;
}

.whatido__skill--code {
  background-image: url(../img/skill-code.png);
  background-repeat: no-repeat;
  background-position: center top;
}

.whatido__skill--design {
  background-image: url(../img/skill-design.png);
  background-repeat: no-repeat;
  background-position: center top;
}

.whatido__skill--product {
  background-image: url(../img/skill-product.png);
  background-repeat: no-repeat;
  background-position: center top;
}

.info-section header h2 {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.info-section header {
  margin-bottom: 60px;
  text-align: center;
}

.info-section__description {
  font-style: italic;
}

.info-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.education-experience__list li {
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}

.education-experience__list img {
  display: block;
  margin-right: 30px;
  width: 180px;
  float: left;
  clear: both;
}

.education-experience__list article {
  overflow: hidden;
}

.photos__list li {
  float: left;
  width: 25%;
}

.photos__list img {
  padding: 10px;
  width: 100%;
}